@font-face {
  font-family: 'PFDinTextPro-Regular';
  src: url('fonts/PFDinTextPro-Regular.eot');
  src: url('fonts/PFDinTextPro-Regular.eot?#iefix') format('eot'),
       url('fonts/PFDinTextPro-Regular.woff') format('woff'),
       url('fonts/PFDinTextPro-Regular.ttf') format('truetype'),
       url('fonts/PFDinTextPro-Regular.svg') format('svg');
}
@font-face {
  font-family: 'PFDinTextPro-Medium';
  src: url('fonts/PFDinTextPro-Medium.eot');
  src: url('fonts/PFDinTextPro-Medium.eot?#iefix') format('eot'),
       url('fonts/PFDinTextPro-Medium.woff') format('woff'),
       url('fonts/PFDinTextPro-Medium.ttf') format('truetype'),
       url('fonts/PFDinTextPro-Medium.svg') format('svg');
}
@font-face {
  font-family: 'EuropeExt';
  src: url('EuropeExtBold.eot');
  src: url('fonts/EuropeExtBold.eot?#iefix') format('eot'),
       url('fonts/EuropeExtBold.woff') format('woff'),
       url('fonts/EuropeExtBold.ttf') format('truetype'),
       url('fonts/EuropeExtBold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
html {
  height: 100%;
}
body {
  background: rgb(10,18,21);
  display: flex;
  align-items: stretch;
  justify-content: center;
  display: -webkit-flex;
  -webkit-align-items: stretch;
  -webkit-justify-content: center;
  height: 100%;
  margin: 0;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(85,71,61);
}
.bordered-item {
  border: 2px solid rgb(195,246,249);
}
.container {
  position: relative;
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;  
  display: -webkit-flex;
}
#left_chat_part {
  flex: 1.81;
  border-right: 2px solid rgb(195,246,249);

  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: stretch;  
}
#right_chat_part {
  flex: 1;
  display: flex;
}
.inner_cont {
    flex: 1;
    padding: 8.89vh 3.33vw 2.96vh 3.33vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#userList {
  flex: 6.3;
  width: 100%;
}
.scrollbar {
  overflow-y: scroll;
}
.scrollbar::-webkit-scrollbar-track
{
  border: 2px solid rgb(195,246,249);
  background: transparent;
  border-width: 0 2px 0 2px;
}
.scrollbar::-webkit-scrollbar
{
  background: transparent;
  width: 1.67vw;
}
.scrollbar::-webkit-scrollbar-thumb
{
  background-color: rgb(195,246,249);
  border: 4px solid transparent;
  border-radius: 5px;
  background-clip: content-box;
}
::-moz-scrollbar-track
{
  border: 2px solid rgb(195,246,249);
  background: transparent;
  border-width: 0 2px 0 2px;
}
::-moz-scrollbar
{
  background: transparent;
  width: 1.67vw;
}
::-moz-scrollbar-thumb
{
  background-color: rgb(195,246,249);
  border: 4px solid transparent;
  border-radius: 5px;
  background-clip: content-box;
}
.leftscrollbar {
    overflow-y:scroll;
    direction: rtl;
}
.users {
  width: 23.33vw;
  margin-bottom: 2.96vh;
}
.users.current {
  background: rgb(0,98,125);
}
.users.unread {
  animation: user_blink 2s infinite;
}
.fadingOut {
  animation: fade_out 1s;
}
.fadeIn {
  animation: fade_in 1s; 
}
@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade_out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes user_blink {
  0% {
    background: rgba(0,98,125,0);
  }
  50% {
    background: rgba(0,98,125,0.5);
  }
  100% {
    background: rgba(0,98,125,0);
  }
}
.chatButton {
  height: 8.89vh;
  background: transparent;
  border: 2px solid rgb(195,246,249);
  border-radius: 8px;
  font-family: 'EuropeExt';
  color: rgb(195,246,249);
  font-size: 1.8vw;
  cursor: pointer;
}
.chatButton:hover {
  background: rgb(0,98,125);
}
#toAllButton_container {
    width: 100%;
    flex: 1.6;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-end;
}
#toAllButton:focus {
  outline: none;
}
#toAllButton {
  width: 100%;  
}
#toAllButton.active {
  background: rgb(121,183,0);
}
#messageWindow {
  position: relative;
  display: flex;
  flex: 5.5;
  padding: 0 3.33vw 5.93vh 3.33vw;
}
#messageWindow_container {
    direction: ltr;
}
#scrollbar_window {
  flex: 1;
}
#logo {
  position: absolute;
  bottom: 5.93vh;
  right: 3.33vw;
  width: 19.0625vw;
  height: auto;
  opacity: 0.3;
}
#chatHeader {
  flex: 1;
  padding: 0 3.33vw 2.96vh 3.33vw;
}
#chatHeader_container {
  font-family: 'EuropeExt';
  color: rgb(195,246,249);
  font-size: 1.8vw;
  line-height: 10vh;
  height: 100%;
  border-bottom: 2px solid rgb(195,246,249);
}
#bottom_container {
    width: 100%;
    height: 16.9vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-end;
    transition: all 1s linear;
}
#bottom_menu {
    padding: 0 3.33vw 2.96vh 3.33vw;
    border-top: 2px solid rgb(195,246,249);
    transition: all 1s linear;
    flex: 1.5;
}
#bottom_menu_leftContainer {
  margin: 0 3.33vw;
  flex: 43.3;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    justify-content: stretch;
}
.invisible {
  display: none;
}
#shift {
  height: 100%;
  width: 12.8%;
}
#cl {
  width: 8%;
  height: 100%;
}
#enter_low {
  width: 13%;
  height: 100%;
  margin-right: 0;
}
#ctrl {
    cursor: pointer;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.47vw;
  height: 100%;
  width: 9.55%;
}
#right_shift {
  height: 100%;
  width: 9.55%; 
}
#backspace {
  width: 10.33%;
  height: 100%;
  margin-right: 0;
}
#pad_key2 {
  width: 3.9%;
  height: 100%;
}
#alt {
  height: 100%;
  width: 9.55%;
}
#space {
  height: 100%;
  width: 42.15%;
}
#en_ru {
  height: 100%;
  width: 6.33%; 
  text-align: center;
  font-size: 1.1vw;
}
#pad_key {
  border: 0;
  height: 100%;
  width: 6.33%;   
}
#enter_top {
    height: 100%;
    width: 7.2%;
    margin-right: 0;
}
#enter-container {   
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    height: 215%;
}
#one {
    width: 54%;
    flex: 1;
    height: 48%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}
#one_one {
    position: relative;
    border-radius: 5px 6px 0 5px;
    flex: 1;
    margin-right: -4px;
    height: inherit;
    border: 2px solid rgb(195,246,249);
}
#bg_image {
    position: absolute;
    right: -2px;
    height: 100%;  
}
#two {
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex: 1.25;
}
#two_one {
    height: 100%;
    border-radius: 5px;
    border: 2px solid rgb(195,246,249);
    display: flex;
    align-items: center;
    justify-content: center;
}
.key_standart {
  height: 100%;
  width: 6.33%;   
}
.keyboard_row {
  height: 18.2%;
  margin-top: 0.47vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.keyboard_row2 {
  height: 18.2%;
  margin-top: 0.47vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;  
}
#keyboard_container {
  width: 100%;
  height: 37.8vh;
  padding-top: 2.96vh;
}
.key {
    cursor: pointer;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-family: 'EuropeExt';
    color: rgb(195,246,249);
    font-size: 1.3vw;
    text-transform: uppercase;
    margin-right: 0.47vw;
}
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.key_inside {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.key_inside:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, rgb(195,246,249) 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10,10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
  }

.key_inside:active:after {
    transform: scale(0,0);
    opacity: .5;
    transition: 0s;
  }


.key_inside {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 2px solid rgb(195,246,249);
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  cursor: pointer;
}
.icon:hover {
  opacity: 0.65;
}
#chatWith {
  font-family: 'EuropeExt';
  color: rgb(195,246,249);
  font-size: 1.8vw;
  padding-bottom: 1.5vh;
}
#inputMessage {    
  font-family: 'PFDinTextPro-Regular';
  flex: 8;
  height: 4.8vw;
  padding: 0 1vw;
  border: 2px solid rgb(195,246,249);
  color: rgb(195,246,249);
  font-size: 1.8vw;
  background: transparent;
}
#inputMessage:focus {
  outline: none;
}
.chatAreaElement {
  font-family: 'PFDinTextPro-Regular';
  color: rgb(195,246,249);
  font-size: 2.5vh;
  margin: 0.1em 0 0.1em 0.5em;
}
.broadcast {
  color: rgb(121,183,0);
}
.img-responsive {
  width: 100%;
  height: auto;
  display:block;
}
#keyboard_icon_container {
  flex: 7.1;
}
#send_icon_container {
  flex: 7.1;
}
.fullWidth {
  width: 100%;
  display: flex;
}
.pressed {
  background: rgb(121,183,0);
}
.pressedCaps {
  background: rgb(121,183,0);
}
#preload_container {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(10,18,21);
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
#error_screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(10,18,21);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.error_p {
    font-family: 'EuropeExt';
    font-size: 2.2vw;
    color: rgb(176,146,97);
    margin: 0;
}
.top_p_margin {
  margin-top: 4.16vw;
}
.bottom_p_margin {
  margin: 4.16vw 0;
  font-size: 1.8vw;
}
#reconnectButton {
  height: 8.89vh;
  background: transparent;
  border: 2px solid rgb(195,246,249);
  border-radius: 8px;
  font-family: 'EuropeExt';
  color: rgb(195,246,249);
  font-size: 1.8vw;
  cursor: pointer; 
  width: 100%;
}
#reconnectButton:hover {
  background: rgb(0,98,125);
}