@font-face {
  font-family: 'PFDinTextPro-Regular';
  src: url('fonts/PFDinTextPro-Regular.eot');
  src: url('fonts/PFDinTextPro-Regular.eot?#iefix') format('eot'),
       url('fonts/PFDinTextPro-Regular.woff') format('woff'),
       url('fonts/PFDinTextPro-Regular.ttf') format('truetype'),
       url('fonts/PFDinTextPro-Regular.svg') format('svg');
}
@font-face {
  font-family: 'PFDinTextPro-Medium';
  src: url('fonts/PFDinTextPro-Medium.eot');
  src: url('fonts/PFDinTextPro-Medium.eot?#iefix') format('eot'),
       url('fonts/PFDinTextPro-Medium.woff') format('woff'),
       url('fonts/PFDinTextPro-Medium.ttf') format('truetype'),
       url('fonts/PFDinTextPro-Medium.svg') format('svg');
}
@font-face {
  font-family: 'EuropeExt';
  src: url('EuropeExtBold.eot');
  src: url('fonts/EuropeExtBold.eot?#iefix') format('eot'),
       url('fonts/EuropeExtBold.woff') format('woff'),
       url('fonts/EuropeExtBold.ttf') format('truetype'),
       url('fonts/EuropeExtBold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
html {
  height: 100%;
}
body {
  background: rgb(10,18,21);
  display: flex;
  align-items: stretch;
  justify-content: center;
  display: -webkit-flex;
  -webkit-align-items: stretch;
  -webkit-justify-content: center;
  height: 100%;
  margin: 0;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(85,71,61);
}
.bordered-item {
  border: 2px solid rgb(195,246,249);
}
.container {
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;  
  display: -webkit-flex;
}
#left_chat_part {
  flex: 1.81;
  border-right: 2px solid rgb(195,246,249);

  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: stretch;  
}
#right_chat_part {
  flex: 1;
  display: flex;
}
.inner_cont {
  position: relative;
  flex: 1;
  padding: 8.89vh 3.33vw 5.93vh 3.33vw;
}
#userList {
  height: 68.15vh;
  margin-bottom: 8.15vh;
}
.scrollbar {
  overflow-y: scroll;
}
.scrollbar::-webkit-scrollbar-track
{
  border: 2px solid rgb(195,246,249);
  background: transparent;
  border-width: 0 2px 0 2px;
}
.scrollbar::-webkit-scrollbar
{
  background: transparent;
  width: 1.67vw;
}
.scrollbar::-webkit-scrollbar-thumb
{
  background-color: rgb(195,246,249);
  border: 4px solid transparent;
  border-radius: 5px;
  background-clip: content-box;
}
.leftscrollbar {
    overflow-y:scroll;
    direction: rtl;
}
.users {
  width: 23.33vw;
  margin-bottom: 2.96vh;
}
.users.current {
  background: rgb(0,98,125);
}
.users.unread {
  animation: user_blink 2s infinite;
}
@keyframes user_blink {
  0% {
    background: rgba(0,98,125,0);
  }
  50% {
    background: rgba(0,98,125,0.5);
  }
  100% {
    background: rgba(0,98,125,0);
  }
}
.chatButton {
  height: 8.89vh;
  background: transparent;
  border: 2px solid rgb(195,246,249);
  border-radius: 8px;
  font-family: 'EuropeExt';
  color: rgb(195,246,249);
  font-size: 1.8vw;
  cursor: pointer;
}
.chatButton:hover {
  background: rgb(0,98,125);
}
#toAllButton {
  width: 100%;  
}
#toAllButton.active {
  background: rgb(121,183,0);
}
#messageWindow {
  position: relative;
  flex: 5.5;
  padding: 0 3.33vw 5.93vh 3.33vw;
}
#messageWindow_container {
    direction: ltr;
}
#scrollbar_window {
  height: 100%;
}
#logo {
  position: absolute;
  bottom: 5.93vh;
  right: 3.33vw;
  width: 19.0625vw;
  height: auto;
  opacity: 0.3;
}
#chatHeader {
  flex: 1;
  padding: 0 3.33vw 2.96vh 3.33vw;
}
#chatHeader_container {
  font-family: 'EuropeExt';
  color: rgb(195,246,249);
  font-size: 1.8vw;
  line-height: 10vh;
  height: 100%;
  border-bottom: 2px solid rgb(195,246,249);
}
#bottom_menu {
    flex: 1.6875;
    padding: 0 3.33vw 2.96vh 3.33vw;
    border-top: 2px solid rgb(195,246,249);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start;
}
#bottom_menu_rightContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: stretch;
}
#send_icon {
  cursor: pointer;
  width: 6.67vw;
  flex: 1;
  height: auto;

  transition: all 0.2s linear;
}
#send_icon:hover {
  opacity: 0.65;
}
#chatWith {
  font-family: 'EuropeExt';
  color: rgb(195,246,249);
  font-size: 1.8vw;
  height: 8.14vh;
  display: flex;
  align-items: center;
}
#inputMessage {    
  font-family: 'PFDinTextPro-Regular';
  flex: 8;
  height: 4.8vw;
  padding: 0 1vw;
  margin-right: 3.33vw;
  border: 2px solid rgb(195,246,249);
  color: rgb(195,246,249);
  font-size: 1.8vw;
  background: transparent;
}
#inputMessage:focus {
  outline: none;
}
.chatAreaElement {
  font-family: 'PFDinTextPro-Regular';
  color: rgb(195,246,249);
  font-size: 2.5vh;
  margin: 0.1em 0 0.1em 0.5em;
}
.broadcast {
  color: rgb(121,183,0);
}